<!-- <div class="card">
  <div class="card-header">
    Agregar Persona
  </div>
  <div class="card-body"> -->
<form>
  <div class="form-group">
    <label for="NoIdentidad">No. Identidad:</label>
    <input id="NoIdentidad" list="Personas" class="custom-select">
    <datalist id="Personas">
      <option value="0501-1223-45553">0501-1223-45553</option>
      <option value="0501-1223-233123">0501-1223-233123</option>
      <option value="0501-1223-34345">0501-1223-34345</option>
    </datalist>
  </div>
  <div class="form-group">
    <label for="Nombre">Nombre Completo:</label>
    <input type="text" class="form-control" id="Nombre">
  </div>
  <div class="form-group">
    <label for="Correo">Correo:</label>
    <input type="email" class="form-control" id="Correo">
  </div>
  <div class="form-group">
    <label for="Telefono">No. Telefono:</label>
    <input type="text" class="form-control" id="Telefono">
  </div>
  <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal">Agregar</button>
</form>
<!-- </div>
</div> -->