<!-- <div class="card">
  <div class="card-header">
    Agregar Persona
  </div>
  <div class="card-body"> -->
<form [formGroup]="PersonasForm" (ngSubmit)="AddPersona()" autocomplete="off" novalidate>
  <div class="form-group">
    <label for="NoIdentidad">No. Identidad:</label>
    <input  formControlName="NoIdentidad" id="NoIdentidad" list="Personas" class="custom-select" (change)="SetData(p)">
    <datalist id="Personas">
      <option *ngFor="let p of Personas" value="{{p.n_identidad}}">{{p.n_identidad}}</option>
    </datalist>
  </div>
  <div class="form-group">
    <label for="Nombre">Nombre Completo:</label>
    <input  formControlName="Nombre" type="text" class="form-control" id="Nombre">
  </div>
  <div class="form-group">
    <label for="Correo">Correo:</label>
    <input  formControlName="Correo" type="email" class="form-control" id="Correo">
  </div>
  <div class="form-group">
    <label for="Telefono">No. Telefono:</label>
    <input  formControlName="Telefono" type="text" class="form-control" id="Telefono">
  </div>
  <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal">Agregar</button>
</form>
<!-- </div>
</div> -->