/* *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  img {
    max-width:100px;
  }
  
  
  
  .card-grid {
    width:100%;
    height: 100px;a

  }
  .card-grid:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .card-wrap {
    float:left;
    width:100%;
    padding:5px;
  }
  @media (min-width: 500px) {
    .card-wrap {
      width:50%;
    }
  }
  @media (min-width: 720px) {
    .card-wrap {
      width:25%;
    }
  }
  
  .btn{
    border-radius:0px;
  }

  .card {
    background-color:white;
    border-radius:0px;
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
    height: 100px;
  }
  .card > div {
    padding:0 1em;
    height: 100px;

  } */