<div class="container-fluid">
  <div class="row" *ngIf="!EmpresaSelected && !UpdatingVisit">
    <div *ngFor="let emp of EmpresasData"  class="col-sm-3 py-1 align-self-end">
      <div class="h-100">
          <div class="card-body">
            <img [src]="'../../../assets/img/'+ emp.nombreimg" class="img-fluid w-100 mw-100" />
            <h4 class="text-center">{{emp.nombre}}</h4>
            <button type="button" class="btn btn-info btn-block"  (click) ="ConsultarEmpresa(emp)"><i class="far fa-eye"></i></button>
          </div>
      </div>
  </div>
  

  </div>

  <!-- <div *ngIf="!EmpresaSelected && !UpdatingVisit" class="card-grid">
    <div *ngFor="let emp of EmpresasData" class="card-wrap">
      <div class="card">
        <img [src]="'../../../assets/img/'+ emp.nombreimg" />
        <h4 class="text-center">{{emp.nombre}}</h4>
        <button type="button" class="btn btn-info btn-block"  (click) ="ConsultarEmpresa(emp)"><i class="far fa-eye"></i></button>
      </div>
    </div>
  </div> -->

  <div class="col-12"  *ngIf="EmpresaSelected" >
      <h1 class="text-center mt-1">{{Empresa.nombre}}</h1>
      <app-visitasdash class="mt-1" (UpdateVisit)="updateVisita($event)" [isSecurityUser]="true" [EmpresaId]="Empresa.id_empresa"></app-visitasdash>
      <button type="button" class="btn btn-secondary btn-lg" (click)="CambiarEmpresa()"><i class="ico fas fa-exchange-alt"></i>Cambiar Empresa</button>
  </div>

  
<app-update-visit [Entrada]="true" (OnCancel)="Cancelar()" [visita]="Visita" (OnUpdate)="OnUpdate()" [NombreEmpresa]="Empresa.nombre" *ngIf="UpdatingVisit"></app-update-visit>

</div>


